.word-letter {
    &__input {
      border: 0;
      height: 8.6rem;
      width: 6.6rem;
      border-radius: $border-radius;
      background-color: $color-background-color-secondary;
      color: $color-text-color-secondary;
      font-weight: bold;
      padding: $left-padding;
      font-size: 8rem;
      &:focus {
        background-color: $color-text-color-secondary;
        color: $color-white;
        outline: none;
      }
    }
  }