.container {
    position: relative;
    max-width: 180rem;
    margin: 8rem auto;
    box-shadow: $shadow-dark;
    min-height: 50rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transform: translateY(10%);
    font-family: $primary-font;
    background-color: $color-game-background-color;
    background-color:white; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: $border-radius;

    @media only screen and (max-width: $bp-medium) {
      width:100%;
      transform: translateY(0%);
      margin-top:0;
      border-radius: 0;
      //padding:1rem;
    }
  }
 
  .container::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -1px;
    border-style: solid;

    @media only screen and (max-width: $bp-medium) {
      right: 0;
      border-radius: 0;
    }
  }
  
  .container::after {
    border-radius: 0rem;
    border-width: 25rem;
    border-color:transparent;
    border-right-color: $color-text-color-primary;
    border-bottom-color: $color-text-color-primary;
    border-bottom-right-radius: $border-radius;
    z-index: -1;

    @media only screen and (max-width: $bp-medium) {
      border-radius: 0;
    }
  }